// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Talkif from "../../../index.js";

export declare namespace AiModelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * TTS, STT, and LLM provider and model catalog
 */
export class AiModelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AiModelsClient.Options>;

    constructor(options: AiModelsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * GET /api/v1/models
     *
     * @param {Talkif.ListProvidersPublicRequest} request
     * @param {AiModelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.TalkifError}
     * @throws {@link errors.TalkifTimeoutError}
     *
     * @example
     *     await client.aiModels.listProvidersPublic()
     */
    public listProvidersPublic(
        request: Talkif.ListProvidersPublicRequest = {},
        requestOptions?: AiModelsClient.RequestOptions,
    ): core.HttpResponsePromise<Talkif.FlowProvidersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listProvidersPublic(request, requestOptions));
    }

    private async __listProvidersPublic(
        request: Talkif.ListProvidersPublicRequest = {},
        requestOptions?: AiModelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Talkif.FlowProvidersResponse>> {
        const { useCase } = request;
        const _queryParams: Record<string, unknown> = {
            useCase,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TalkifEnvironment.Production,
                "api/v1/models",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Talkif.FlowProvidersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TalkifError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/models");
    }

    /**
     * GET /api/v1/models/tts/voices
     *
     * When any of gender, age, language, accent, or sort are present, routes to
     * the ElevenLabs /v1/shared-voices endpoint (rich filtering, offset pagination).
     * Otherwise routes to /v2/voices (simpler, cursor pagination).
     *
     * @param {Talkif.ListTtsVoicesRequest} request
     * @param {AiModelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Talkif.UnauthorizedError}
     * @throws {@link Talkif.ForbiddenError}
     * @throws {@link Talkif.TooManyRequestsError}
     * @throws {@link Talkif.InternalServerError}
     * @throws {@link errors.TalkifError}
     * @throws {@link errors.TalkifTimeoutError}
     *
     * @example
     *     await client.aiModels.listTtsVoices()
     */
    public listTtsVoices(
        request: Talkif.ListTtsVoicesRequest = {},
        requestOptions?: AiModelsClient.RequestOptions,
    ): core.HttpResponsePromise<Talkif.VoicesDto> {
        return core.HttpResponsePromise.fromPromise(this.__listTtsVoices(request, requestOptions));
    }

    private async __listTtsVoices(
        request: Talkif.ListTtsVoicesRequest = {},
        requestOptions?: AiModelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Talkif.VoicesDto>> {
        const { pageSize, nextPageToken, search, voiceType, category, gender, age, language, accent, sort, page } =
            request;
        const _queryParams: Record<string, unknown> = {
            pageSize,
            nextPageToken,
            search,
            voiceType,
            category,
            gender,
            age,
            language,
            accent,
            sort,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TalkifEnvironment.Production,
                "api/v1/models/tts/voices",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Talkif.VoicesDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Talkif.UnauthorizedError(
                        _response.error.body as Talkif.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Talkif.ForbiddenError(
                        _response.error.body as Talkif.ErrorResponse,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Talkif.TooManyRequestsError(
                        _response.error.body as Talkif.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Talkif.InternalServerError(
                        _response.error.body as Talkif.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TalkifError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/models/tts/voices");
    }
}
